{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row  h-100">
        <div class="col-12 mx-auto">
            <img class="home-image" src="" alt="vegan lunch">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class=" col-lg-6 col-12 slogan mt-4">
            <h3 class="text-black">Be Trendy With a Twist!</h3>
            <p class="text-black">
                STEPS is place where sneaker heads or people who enjoy trainer can BUY and SELL customised trainers.
                Be the individual that you are, find exclusive trainers designs that match your fly!
                or sell you artistic creations to others.
            </p>
           <button class="shop-button">
                  <a class=" shop-link font-weight-bold h2 mt-2" href="">SHOP</a>
           </button>
        </div>
        <div class="col-lg-6 col-12 mt-4">
            <img class="home-image" src="" alt="summary-image">

        </div>
    </div>
</div>

{% endblock %}