{% load static %}
{% block content %}
<form class="form update-form" action="" method="POST">
    {% csrf_token %}
    <div class="form-row">
        <!-- quantity input -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class=" btn btn-sm btn-black  rounded-0" data-item_id=""
                            id="">
                            <span class="decrement-qty" data-item_id="">
                                <i class="fas fa-heart"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</form>
{% endblock %}