{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}

<!--template take from boutique Ado-->
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Wishlist</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive rounded">
                <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                <table class="table table-sm table-borderless">
                     {% for product in wishlist_items %}
                     <tr> 
                        {% if product.image %}
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ product.image.url }}"
                                alt="{{product.name}}">
                        {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{product.name}}">
                        </td>
                         {% endif %}
                        <td class="py-3">
                            <p class="my-0"><strong>{{ product.name }}</strong></p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ product.price }}</p>
                        </td>
                         <td class="py-3">
                            <a  href="{% url 'delete_wishlist' product.id %}" class="remove-item text-danger float-right"
                                id="remove_{{ product.pk }}"><small>Remove</small></a>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
