@import url('https://fonts.googleapis.com/css?Lato=Roboto:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

html {
    height: 100;
}

body {
        margin: 0;
        font-family:lato,sans-serif;
    }


/*---colours---*/
#White{
    color:whitesmoke;

}
#Grey{
    color: grey;
}
#Black
{
    color: black;
}
#Green{
    color: green;
}

#Brown{
    color: brown;
}
#Purple{
    color: purple;
}
#Orange{
    color: orangered;
}
#Yellow{
    color: yellow;
}
#Red{
    color: red;
}
#Pink{
    color: pink;
}
.green-font {
     color: #76cf95 !important;
}

.card-footer {
    background-color: #76cf95;
}
.fa-shopping-bag, .fa-user, .fa-store,
.fa-home, .fa-twitter, .fa-instagram,
.fa-facebook{
    color: black;
}

.text-black {
    color: rgb(85, 78, 78) !important;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}


/*----fonts---*/
h1{
    font-family:Roboto,sans-serif;
    font-weight: bold;
    color: #76cf95;
    font-size: 3.5rem;
}

.stepz{

    font-family:Roboto,sans-serif;
    font-weight: bold;
    color: #76cf95;
    font-size: 2rem;

}

h2, h3{
    font-family:lato,sans-serif;
    font-weight: lighter;
    color:rgb(85, 78, 78);
    font-size: 3rem;
    padding: 40px;
    text-align: center;
}

#send, .contact-message,.contact-title{
    font-family:lato,sans-serif;
    font-weight:lighter;
    color:rgb(85, 78, 78);
}


/*----products page---*/

.product-image{
    padding-bottom: 20px;
}

.product-name{
    font-family:Roboto,sans-serif;
    padding-top: 10px;
}

.card-header{

    background-color: #FFFFFF;
}

.btn-link:hover,
.filter-choice{
    font-size: 1.15rem;
    text-decoration: none;
}


.sidebar {
    width: 20%;
    padding: 10px;
    margin: 0;
    float: left
}


/*----Contact_us  page----*/
h5.contact-message {
    font-size: 2rem;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
}


/*----home page----*/

.nav-link {
    padding:0;
}

.home-image{
    width: 100%;
 }

 .border-black{
     color: black !important;
 }

.shop-button{
    background-color:black;
    margin-bottom: 10px;
}
.shop-link
{
    color: white;
    font-family: lato,sans-serif ;
    padding: 15px;
}
a:hover {
    color: white;
    text-decoration:none;
}


/*----wishlist---*/

input.quantity {
    width: 50%;
}

.remove-button {
    font-size: 100%;
    font-weight: 400;
    padding-right: 60px;
}


/*----toasts---*/
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}


/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #76cf95; /* text-info */
}



/* pad the top a bit when navbar is collapsed on mobile */
@media only screen and (max-width: 600px) {

    .update-button, .removebutton {
    font-size: 50%;
    font-weight: 400;
}

    h2,h3{
        font-size: 1.26rem;
        text-align: center;
    }

    .shop-link
     {
    font-size:1rem;
     }

    body{
    padding-top: 70px;
   
    }

    .sidebar {
    padding: 10px;
    float: none;
    width: auto;
}
}


/*--Responsive on Landscape phones----*/
@media only screen and (max-width: 800px) {


    .bag-button {
   
    font-size: 0.4rem;
  
}

    
    .sidebar {
    padding: 10px;
    float: none;
    width: auto;
}



}

@media  (min-width: 768px) and (max-width: 1024px) {

.update-button, .removebutton {
    font-size: 60%;
    font-weight: 400;
}

    .bag-button {
   
   
    font-size: 0.5rem;
  
}

    .removed-button{

    padding-right: 250px;
}
    h3{
        font-size: 2.2rem;
    }

    body{
    padding-top: 70px;
    }
    
}

