
<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 mt-2 footer-col offset-lg-1 text-center">
        <h5>Shop</h5>
        <p>
            <a class="text-black" href="">Our shop</a>
        </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 mt-2 footer-col offset-lg-1 text-center">
        <h5>Support</h5>
        <p>
            <a class="text-black" href="{% url 'contact_us' %}">Contact Us</a><br>
        </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 mt-2 footer-col offset-lg-1 text-center">
        <h5>Company</h5>
        <p>
        <ul class="linst-inline social-links">
            <li class="list-inline-item text-center">
                <a target="_blank" href="https://www.facebook.com/">
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                    <span class="sr-only text-black">Facebook</span>
                </a>
            </li>

            <li class="list-inline-item text-center">
                <a target="_blank" href="https://www.instagram.com/">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only text-black">Instagram</span>
                </a>
            </li>
            <li class="list-inline-item text-center">
                <a target="_blank" href="https://twitter.com/">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                    <span class="sr-only text-black">Twitter</span>
                </a>
            </li>
        </ul>
        </p>
    </div>
</div>