<div class="sidebar" id="accordion">
    <div class="card">
        <h6 class="text-center">Filter By</h6>
    </div> 
    <!--Brand filter-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Brand
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="Reebok" class="pl-1 pt-sm-0 pt-1">Reebok</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2"> 
                        <label for="Yeezy's" class="pl-1 pt-sm-0 pt-1">Yeezy's</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-md-2 p-sm-1"> 
                        <label for="New Balance" class="pl-1 pt-sm-0 pt-1">New Balance</label>
                     </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2"> 
                        <label for="Huaraches" class="pl-1 pt-sm-0 pt-1"> Huaraches</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="Vans" class="pl-1 pt-sm-0 pt-1">Vans</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2"> 
                        <label for="Asics" class="pl-1 pt-sm-0 pt-1">Asics</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-md-2 p-sm-1"> 
                        <label for="Jordans" class="pl-1 pt-sm-0 pt-1">Jordans</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2"> 
                       <label for="Adidas" class="pl-1 pt-sm-0 pt-1">Adidas</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2"> 
                        <label for="N" class="pl-1 pt-sm-0 pt-1"> Nike</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-md-2 p-sm-1"> 
                        <label for="Converse" class="pl-1 pt-sm-0 pt-1">Converse</label> </div>
                </a>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}