{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<!--taken for code-institute boutique ado project -->
<h3 class="text-center"> Pick A STEP</h3>
<div class="overlay"></div>
<div class="container-fluid">
    {% include 'products/product_filter.html' %}
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <div class="product-image">
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        </div>
                        {% else %}
                        <div class="">
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid " src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        </div>
                        {% endif %}
                        <div class="card-body pb-0 product-name">
                            <h6 class="mb-0">{{ product.name }}</h6>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                    <div class="col product-price">
                                       <h5 class="lead mb-0 text-left font-weight-bold">${{ product.price }}</h5>
                                
                        
                                        <div class="text-left">
                                        <a href="{% url 'add_to_wishlist' product.id %}">wishlist</a> 
                                        </div>

                                         {% if request.user.is_superuser %}
                                         <small class="text-left">
                                          <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                         <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                          </small>
                                        {% endif %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}