{% load static %}
{% block content %}
<div class="sidebar" id="accordion">
    <div class="card">
        <h6 class="text-center">Filter By</h6>
    </div>
    <!--Brand filter-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Brand
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="Reebok" class="pl-1 pt-sm-0 pt-1">Reebok</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="Yeezy's" class="pl-1 pt-sm-0 pt-1">Yeezy's</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-md-2 p-sm-1">
                        <label for="New Balance" class="pl-1 pt-sm-0 pt-1">New Balance</label>
                    </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="Huaraches" class="pl-1 pt-sm-0 pt-1"> Huaraches</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="Vans" class="pl-1 pt-sm-0 pt-1">Vans</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="Asics" class="pl-1 pt-sm-0 pt-1">Asics</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-md-2 p-sm-1">
                        <label for="Jordans" class="pl-1 pt-sm-0 pt-1">Jordans</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="Adidas" class="pl-1 pt-sm-0 pt-1">Adidas</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="N" class="pl-1 pt-sm-0 pt-1"> Nike</label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="N" class="pl-1 pt-sm-0 pt-1">Air Force ones </label> </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-md-2 p-sm-1">
                        <label for="Converse" class="pl-1 pt-sm-0 pt-1">Converse</label> </div>
                </a>
            </div>
        </div>

    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Price
                </button>
            </h5>
        </div>
        <!--Price filter-->
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="over_50" class="pl-1 pt-sm-0 pt-1">Over
                            $50</label>
                    </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-sm-2 my-2">
                        <label for="over_100" class="pl-1 pt-sm-0 pt-1">Over
                            $100</label>
                    </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-md-2 p-sm-1">
                        <label for="over_150" class="pl-1 pt-sm-0 pt-1">over
                            to $150</label>
                    </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-md-2 p-sm-1">
                        <label for="over_200" class="pl-1 pt-sm-0 pt-1">over $200</label>
                    </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-md-2 p-sm-1">
                        <label for="over_250" class="pl-1 pt-sm-0 pt-1">over $250</label>
                    </div>
                </a>
                <a href="">
                    <div class="form-inline border rounded p-md-2 p-sm-1">
                        <label for="over_300" class="pl-1 pt-sm-0 pt-1">over $300</label>
                    </div>
                </a>
            </div>
        </div>
    </div>
      <!--Colour filter-->
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Colours
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="Brown"></span>Brown </a></li>
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="Black"></span>Black</a></li>
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="Blue"></span>Blue </a></li>
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="Green"></span>Green </a></li>
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="Gray"></span>Gray</a></li>
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="Orange"></span>Orange</a></li>
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="Red"></span>Red</a></li>
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="Pink"></span>Pink </a></li>
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="Purple"></span>Purple </a></li>
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="Yellow"></span>Yellow </a></li>
                    <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1"
                                id="White"></span>White</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}